* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
body {
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #333;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
header nav a:hover {
    color: #f4a261;
}
.hero {
    background: #e76f51;
    color: #fff;
    text-align:center;
    padding: 5rem 1rem;
}
.hero button {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    border: none;
    background: #fff;
    color: #e76f51;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}
.hero button:hover {
    background-color: #f4a261;
    color: #fff;
}

.content {
    padding: 2rem;
    text-align: center;

}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}
.card {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width : 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        padding: 3rem 1rem;
    }
}