* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #333;
}
button {
    padding: 0.5rem 1rem;
    border: none;
    background: #e76f51;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background: #f4a261;
}

header  {
    background: #333;
    color: #fff;
    padding: 1rem;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
header a {
    color: #fff;
}
.meau-toggle {
    display: none;
    cursor: pointer;
}

.hero {
    background: #f4f4f4;
    text-align: center;
    padding: 4rem 1rem;
}
.hero h2 {
    font-size: 2.5rem;
}


#products {
    padding: 2rem;
    text-align: center;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}
.product {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0 , 0 , 0 , 0.1);

}
.product img {
    width: 100%;
    border-radius: 5px;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 1rem;
        background: #333;
        padding : 1rem;
        border-radius: 8px;
    }    
    .menu-toggle{
        display: block;
    }
    .hero h2 {
        font-size: 1.8rem;
    }
}