 /* header section */
 .head{
    width: 100%;
    height: 23vh;
    
  }
  .ECOURSES{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  }
  .navagaction{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;

  }
  .navagaction .subject{
    width: 20%;
    height: 10vh;
    font-size: 14px;
    top: 20px;
    background-color: whitesmoke;
    text-align: center;
  }
  .navagaction .subject a{
    text-decoration: none;
    color: tomato;
  }
   .subject:hover{
    background-color: rgb(221, 214, 214);
   }
  .navagaction .navbar{
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
   

  }
  .navagaction .navbar a{
    text-decoration: none;
    color: black;
 
  }
  .jointbar{
    width: 10%;
  }
  .jointbar button{
   width: 100%;
   height: 6vh;
   font-size: 18px;
   border-radius: 10px;
   background-color: rgb(249, 97, 70);
  }
  .jointbar button:hover{
    background-color: rgb(179, 67, 47);
  }
   /* section */
   .section{
      width: 100%;
      height: 80vh;
        background-image: url('../img//page-header.jpg');
        background-size: 100% 60vh;
        background-repeat: no-repeat;
      
    }
    .section h1{
      color: white;
      font-size: 45px;
      text-align: center;
      
     }
     .section a{
      color: white;
      font-size: 25px;
      margin-left: 10px;
      text-decoration: none;
      text-align: center;
      
     }
     .secA{
       text-align: center;
     }
     .section .secA a:hover{
       text-decoration: underline;
     }
     /* our team */
  .teams{
    width: 100%;
    height: 80vh;
    text-align: center;
  font-family: Arial Black;
  margin-top: 30px;

  }
  .team{
    
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;

  }
  .member{
    width: 20%;
    height: 50vh;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 20px;  
  }
  .member img{
    width: 100%;
    border-radius: 10px;
    height: 30vh;
  }
  
   /* Footer section */
   .footer{
    width: 100%;
    height: 60vh;
    color: white;
    background-color: rgb(24 24 60);
    display: flex;
    justify-content: space-evenly;
  }
  .footerfirst{
    width: 20%;
    height: 30vh;
  }
  .footersec{
    width: 40%;
    height: 30vh;
  }
  .footer .footerfirst button{
    width: 30px;
    height:30px;
    margin-left: 3px;
    background-color: rgb(24 24 60);
    border: 2px solid white;
    transition: 1s;
    border-radius: 5px;

  }
  .footer .footerfirst button:hover{
    background-color: white;
  }
  .footersec #ft{
    width: 60%;
    height: 7vh;
  font-size: 24px; }
  .footersec #ft1{
    width: 30%;
    height: 8vh;
  font-size: 24px;
background-color: tomato; }
 .adress{
  width: 100%;
    background-color: rgb(24 24 60);
  height: 7vh;
   color: white;
   text-align: center;
 }