 
/* section */
.section{
      width: 100%;
      height: 80vh;
        background-image: url('../img/pexels-photo-625422.jpeg');
        background-size: 100% 60vh;
        background-repeat: no-repeat;
        position: center;
    }
    .section h1{
     color: white;
     font-size: 45px;
     text-align: center;
     position: relative;
     top: 20vh;
     
    }
    .section a{
     color: white;
     font-size: 25px;
     margin-left: 10px;
     text-decoration: none;
     text-align: center;
     position: relative;
     top: 22vh;
     
    }
    .secA{
      text-align: center;
    }
    .section .secA a:hover{
      text-decoration: underline;
    }
    .query{
      width: 100%;
      height: 90vh;
      text-align: center;
    }
    .queryform{
      width: 50%;
      height: 80vh;
      background-color: whitesmoke;
      position: relative;
      left: 20%;
    }
    .queryform input{
      width: 80%;
    height: 7vh;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    }
    .queryform #Message{
      width: 80%;
    height: 20vh;
    font-size: 20px;
    border-radius: 10px;
     
    border: none;
    }
    .queryform #done{
      width: 30%;
    height: 8vh;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    }
  