* {
  padding: 0;
  margin: 0;
  overflow: inherit;
}

.header {
  width: 100%;
  height: 25vh;

}

.header1 {
  width: 100%;
  height: 10vh;

  display: flex;

  flex-wrap: wrap;
  align-content: center;
  background-color: white;
  box-shadow: -2px 0px 0px 1px gray;
}

.navsteet {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
}

.navsteet1 {
  width: 40%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.header2 {
  width: 100%;
  height: 10vh;
  box-shadow: 12px 2px 10px 0px gray;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 10%;
  height: inherit;
}

.navbar1 {
  width: 40%;

  height: inherit;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.navlogo {
  width: 50%;
  height: inherit;
}

.navlogo img {
  width: 100%;
  height: 10vh;
}

.navre {
  width: 6%;
  margin: 3px;
  height: 6vh;
  border-radius: 50%;
  border: 2px solid gray;
  display: flex;
  background-color: white;
  transition: ease-in-out 2s;
}

.navre:hover {
  background-color: tomato;
}

.navchild a,
.navlogin a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

.navchild a:hover,
.navlogin a:hover {
  color: tomato;
  font-size: 21px;
}

.navlogin {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reg{
  width: 18%;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}
/* login form */

/* Full-width input fields */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
 
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/* main section start */
/* Slideshow container */
.slideshow-container {
  max-width: 95%;
  position: relative;
  margin: auto;
}
 .btn{
  width: 18%;
  height: 7vh;
  background-color: tomato;
  font-size: 22px;
  border-radius: 10px;
 }
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 27px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
 
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*end*/
@keyframes change {
  0% {
    width: 0%;
  }

  50% {
    width: 41%;
    color: red;
  }
}

.company {
  width: 100%;
  height: 100vh;
}

.comp {
  width: 50%;
  height: inherit;
  background-color: blue;
}
.aboutcomp {
  width: 100%;
  height: 80vh;

  display: flex;
}
.aboutcopshap {
  width: 100%;
  height: 15vh;
  display: flex;

  align-items: center;
}
.aboutcomp .com {
  width: 50%;
  height: inherit;
  line-height: 3;
  margin: 20px;
}
.aboutcomp .aboutshap {
  width: 20%;
  height: inherit;

  background-color: tomato;
  float: left;
  display: flex;
}
.aboutcomp .com img {
  width: 100%;
  height: 76vh;
  box-shadow: 1px 1px 1px 1px gray;
}

/* why choose  */

.chooses {
  width: 100%;
  height: 70vh;

  justify-content: space-around;
  box-shadow: 6px 12px 33px 2px whea;
}
.choose,
.choose1 {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
}
.chosechild p,
.chosechild p {
  line-height: 30px;
}
.chosechild:hover {
  background-color: bisque;
  transform: scale(1);
}
.chosechild {
  width: 30%;
  height: 30vh;
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px #212020;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  transition: ease-in-out 2s;
  transform: scale(1);
}
.chochild {
  width: 10%;
  height: 10vh;
  border-radius: 50%;
  background-color: #673ab7;
}
/* tope rank */
.toprank {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.headingtoprank {
  width: 100%;
  height: 20vh;
  text-align: center;
  margin-top: 7vh;
  font-size: 16px;
  font-family: Algerian;
  font-style: italic;
  font-weight: bolder;
}
.rank1,
.rank2 {
  width: 100%;
  height: 50vh;

  display: flex;
  justify-content: space-around;
  /* box-shadow: 6px 12px 33px 2px wheat; */
}
.rankchild {
  width: 20%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px #212020;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}
.rankchild img {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
  transition: ease-in-out 1s;
}

.card button {
  width: 100%;
  height: 5vh;
  background-color: wheat;
  justify-content: space-evenly;
  /* align-content: stretch; */
  align-items: center;
  font-size: 14px;
  font-size: 17px;
  /* position: relative;
    top: 7vh;
    left: 20%; */
  border-radius: 10px;
}
a {
  text-decoration: none;
}
.card button:hover {
  background-color: tomato;
  color: white;
}
.rankchild button {
  width: 50%;
  height: 5vh;
  background-color: rebeccapurple;
  color: white;
  margin: 1rem;
  border-radius: 10px;
}
.rankchild button:hover {
  width: 50%;
  height: 5vh;
  background-color: rgb(51, 153, 56);
  color: white;
  margin: 1rem;
}
.rankchild span {
  font-size: 20px;
}

/* footer section */
.footer {
  width: 100%;
  height: 50vh;
  background-color: #091e3e !important;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 22px;
}
.footer3,
.footer2 {
  margin-top: 40px;
  width: 10%;
  height: 50vh;
  cursor: pointer;
}
.footer3 h3{
  margin-bottom: 16px;
}
.footer1 {
  margin-top: 40px;
  width: 20%;
  height: 50vh;

}

.footer1img{
  width: 20%;
    height: 19vh;
  color: rgb(216, 25, 25);
  background-image: url("./images/Organic.png");
  background-size: cover;
}

.footer1 img {
  width: 30%;
  height: 10vh;

}
.footer1 h2 img {
  width: 6%;
  height: 6vh;
}

.footer1 img{
  width: 3%;
  height:3vh;
  display: inline;
}
.footer1 h4{
  display: inline;
  padding-left: 2px;
  margin-top: 2px;
}
.footer2{
  width: 20%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}
.footer4 {
  width: 20%;
  height: 50vh;
  text-align: center;
  cursor: pointer;
}
.foodinh1,.foodinh2 ,.foodinh3 ,.foodinh4 ,.foodinh5 {
  width: 5%;
}
.footer4  img {
  width: 100%;
  height: 8vh;
}
.footer4 h3 span {
  margin-right: 12px;
}
.footer4 .foo{
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}
.footer3{
  width: 20%;
}
.footer a {
  color: white;
  margin-top: 18px;
}
.footer5{
  width: 20%;
    height: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}
.foodternaveter{
margin-top: 40px;
}
.foodternaveter #ft{
  width: 50%;
  height: 4vh;
  font-size: 14px;
margin-top:20px
}
.foodternaveter  #ft1{
  width: 30%;
  height: 5vh;
  font-size: 15px;
  background-color: tomato;
  border-radius: 6px;
margin-top:20px
}
.address {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  background-color: #091e3e !important;
}
@media only screen and (max-width: 1160px)  {
  .header1{
    display: none;
  }
  .header {
    height: 11vh;
}
  .chooses{
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .choose , .choose1{
    flex-direction: column;
    width: 100%;
    height: 95vh;
  } 
  .chosechild{
    width: 90%;
  }
  .headingtoprank{
    height: 5vh;
  }
  .toprank{
    width: 100%;
    height: 205vh;
   flex-direction: row;
    justify-content: space-around;
  }
  .rank1, .rank2 {
    width: 100%;
    height: 200vh;
    flex-direction: column;

}
.rankchild{
  width: 90%;
}
}