.main{
    width: 100%;
    height: 100vh;
    /* background-color: beige; */
}

.sub{
    width: 100%;
    height: 50vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub1{
    width: 100%;
    height: 50vh;
    background-color: rgb(107, 140, 129);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sb{
    width: 30%;
    height: 45vh;
    background-color:rgb(248, 241, 230);
}
.sub2{
    width: 100%;
    height: 50vh;
    background-color: rgb(115, 145, 214);
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* flex-direction: column; */
}
.sub img{
    width: 100%;
    height: 20vh;
}
.sb button{
    width: 50%;
    height: 7vh;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(78, 78, 233);
    color: white;
}