.mainsection{
    width: 100%;
    height: 100vh;
    display: flex;
  
}
.item1{
    width: 20%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px gray;
}
.item1 img{
    width: 40%;
    height: 20vh;
  padding-bottom: 30px;
  cursor:pointer;
  opacity: 0.5;
}
.item1 img:hover{
    opacity: 1;
}

.item2{
    width: 30%;
    height: 70vh;
}
.item2 img{
    width: 100%;
}
.description{
    width: 30%;
    height: 70vh;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.description h1{
    color: tomato;
}